<ion-navbar>
  <ion-title>Movies</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <h2>Welcome to Movie Quotes!</h2>
  <p>
    Select a movie below to see some memorable quotes.
  </p>

  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="movieSelected(movie)">
      {{movie.name}}
    </ion-item>
  </ion-list>
</ion-content>
